<div class="container" *ngIf="!confirmed">
    <div class="col1">
        <div>
            <mat-card *ngFor="let line of orderLines">
                <mat-card-header>
                    <img mat-card-avatar [src]="line.product.url" />
                    <mat-card-title>{{line.product.name}}</mat-card-title>
                    <mat-card-subtitle>{{line.product.price}}</mat-card-subtitle>
                    <mat-form-field>
                        <mat-label>Amount</mat-label>
                        <input type="number" min="1" required matInput [(ngModel)]="line.quantity" #amount="ngModel" />
                    </mat-form-field>
                    <div *ngIf="amount?.errors?.['min']" class="error">
                        Invalid Amount
                    </div>
                </mat-card-header>
                <mat-card-content>
                    {{line.product.description}}
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="col2">
        <form #form="ngForm">
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Full Name</mat-label>
                    <input #customerFullName="ngModel" name="fullName" type="text" required minlength="6" matInput
                        placeholder="Enter Full Name" [(ngModel)]="fullName" />
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Address</mat-label>
                    <input type=" text" name="address" matInput required placeholder="Enter Address"
                        [(ngModel)]="address" />
                </mat-form-field>
            </div>
            <div>
                <button mat-flat-button color="primary" [disabled]="!enableSubmit || form.invalid"
                    (click)="onSubmit()">Submit</button>
            </div>
        </form>
        <div *ngIf="customerFullName.invalid && customerFullName.dirty" class="error">
            <div *ngIf="customerFullName?.errors?.['required']">
                Pleas Enter full name!
            </div>
            <div *ngIf="customerFullName?.errors?.['minlength']">
                Name must contain at least 6 charachters!
            </div>
        </div>
    </div>
</div>
<app-confirmation *ngIf="confirmed" [fullName]="fullName" [totalValue]="totalValue">

</app-confirmation>