<div class="cenetr-screen">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Success</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                Thank you, <strong>{{fullName}}</strong>!
            </p>
            <p>
                Your {{totalValue}} order is confirmed!
            </p>
            <p>
                Please allow 1-3 business day(s) for shipping
            </p>
        </mat-card-content>
        <mat-card-actions>
            <a routerLink="/products" mat-flat-button color="primary">Back to Product List</a>
        </mat-card-actions>
    </mat-card>
</div>